{% extends 'base.html.twig' %}

{% block title %} Bienvenue sur notre site {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
       body {
         font-family: Arial, sans-serif;
         margin: 0;
         padding: 20px;
         background-color: #f1f1f1;
      }

      h1 {
         color: #333;
         text-align: center;
      }

      .product-list {
         display: grid;
         grid-template-columns: repeat(3, 1fr);
         grid-gap: 20px;
         max-width: 900px;
         margin: 0 auto;
      }

      .product-item {
         background-color: #fff;
         border-radius: 5px;
         padding: 20px;
         box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
         width: 300px;
         margin: 5px;
        
      }

      .product-item img {
         display: block;
         margin: 0 auto;
         width: 200px;
         height: 150px;
         object-fit: cover;
         border-radius: 5px;
      }

      .product-item h2 {
         color: #333;
         margin-top: 10px;
         margin-bottom: 5px;
      }

      .product-item p {
         color: #666;
         font-size: 0.8rem;
         
  
      }

      .product-item small {
         color: #999;
         margin-bottom: 40px;
      }

      .product-item a {
         display: block;
         text-align: center;
         background-color: #007bff;
         color: #fff;
         padding: 5px 10px;
         border-radius: 5px;
         text-decoration: none;
         margin-top: 10px;
         max-width: 150px;
         margin: 0 auto;
         white-space: nowrap;
         overflow: hidden;
         text-overflow: ellipsis;
      }

      .product-item a:hover {
         background-color: #0056b3;
      }
    </style>
{% endblock %}

{% block body %}
   <h1>Bienvenue sur le site de vente en ligne de jeux vidéo</h1>
   <div class="product-list">
      {% for product in list %}
      <div class="product-item">
         <img src="{{ images[loop.index0] }}" alt="Product Image" class="img-small">
         <h2>{{ product.name }}</h2>
         <p>{{ product.description }}</p>
         <small>Prix: {{ product.price }} €</small>
         <a href="{{ path('app_order', {'id':product.id}) }}">Commander !</a>
      </div>
      {% endfor %}
   </div>
{% endblock %}
